[tool.black]
line-length = 100
target-version = ["py311"]
extend-exclude = '''
(
  ^\.venv/
| ^proj2/site/
| __pycache__
)
'''

[tool.ruff]
line-length = 100
target-version = "py311"
extend-exclude = ["proj2/site", ".venv"]
