# --- Core dependencies ---
Flask>=2.3.3
python-dotenv>=1.0.1
Werkzeug>=2.3.7
Jinja2>=3.1.2
itsdangerous>=2.1.2
click>=8.1.7

# --- Testing ---
pytest>=8.3.3
pytest-cov>=4.1.0

# --- Documentation ---
pdoc>=14.4.0
reportlab>=4.2.2

# --- Code quality tools ---
black>=24.8.0
ruff>=0.6.9